doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body 
        header 
            h1 Noom
        main 
            ul
            form 
                input(type="text", placeholder="write nickname",name="nickname", id="nickname")
                button#nickName_sendBtn Send
            form
                input(type="text", placeholder="write msg",name="msg", id="msg")
                button#msg_sendBtn Send
        script(src="/public/js/app.js") 